* {
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1{
	font-size: 36px;
	color: #252A34;
	font-weight: bold;
}
h2{
	font-size: 28px;
	color:#616B4B;
	font-weight: bold;
}
h3{
	font-size: 48px;
	color: #D4BBB3;
	font-weight: bold;
}
h4{
    font-size: 34px;
	color: #252A34;
	font-weight: bold;
}
h5{
	font-size: 34px;
	color: #FCF3E4;
	font-weight: bold;
}
p{
	font-size: 18px;
	line-height: 22px;
	font-weight: lighter;
}


ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.about-section {
	background-color: #FCF3E4;
	width: auto;
	height: 555px;
}

.container-about {
	width: 1186px;
	height: 352px;
	background-color: #9DAD7E;
}

.nav-link{
	color: #FCF3E4;
	font-size: 16px;
	font-weight:500;
}
.navbar{
	height: 85px;
}
.w-search{
	width: 275px;
}
.h-footer{
	height: 420px;
}
.w-text{
	width: fit-content;
}
.wh-img{
	width: 260px;
	height: 220px;
	object-fit: cover;
}
.mx-14{
	margin-right: 14rem;
	margin-left: 14rem;
}
.w-400{
	width: 400px;
}
.img-bg{
	background-image: url(../img/about.jpg);
	background-size: cover;
	box-shadow:5px 5px 80px rgba(0,0,0,0.3);
	height:415px;
	width: 285px;
	display: flex;
	align-items: center;
}
.my-md-6{
	margin-top: 6rem;
	margin-bottom: 6rem;
}
.active{
	background-color: #252A34 !important;
	color: white;
	box-shadow: #1a1e21;
}
.blog-billede{
	height: 350px;
	width: 350px;
	object-fit: contain;
}
.mission-billede{
	height: 350px;
	width: 350px;
	object-fit: cover;
}

nav a.active1{
	border-bottom: 2px solid #FCF3E4;
}

@media  screen and (max-width: 1000px){
	.wh-img{
		width: auto;
		object-fit: cover;
		height: auto;
	}
}


@media  screen and (max-width: 768px) {
	.h-footer{
		height: 800px;
	}
	.container-about {
		width: auto;
		height: auto;
	}

	.my-md-6{
		margin: 0;

	}
	.border-active{
		border: #F2C6A5 solid 1px !important;
		padding: 10px;
		margin: 5px;
	}
}
