* {
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1{
	font-size: 36px;
	color: #252A34;
	font-weight: bold;
}
h2{
	font-size: 28px;
	color:#616B4B;
	font-weight: bold;
}
h3{
	font-size: 48px;
	color: #D4BBB3;
	font-weight: bold;
}
h4{
    font-size: 34px;
	color: #252A34;
	font-weight: bold;
}
h5{
	font-size: 34px;
	color: #FCF3E4;
	font-weight: bold;
}
p{
	font-size: 18px;
	line-height: 22px;
	font-weight: lighter;
}


ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.nav-link{
	color: #FCF3E4;
	font-size: 16px;
	font-weight:500;
}
.navbar{
	height: 85px;
}
.w-search{
	width: 275px;
}
.h-footer{
	height: 420px;
}
.w-text{
	width: fit-content;
}
.wh-img{
	width: 260px;
	height: 220px;
	object-fit: cover;
}
.mx-14{
	margin-right: 14rem;
	margin-left: 14rem;
}
.w-400{
	width: 400px;
}
@media  screen and (max-width: 1000px){
	.wh-img{
		width: auto;
		object-fit: cover;
		height: auto;
	}
}


@media  screen and (max-width: 768px) {
	.h-footer{
		height: 800px;
	}
}
